@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/******************** BODY **********************/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: medium;
}
body{
    font-family: 'Raleway', sans-serif;
}
.page{
    padding-left: 10%;
    padding-right: 10%;
}

/******************** HEADER **********************/
header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
header .logo img{
    width: 120px;
}
header a{
    color: #0065FC;
}
header a:hover{
    color: black;
}
header ul{
    display: flex;
}
header ul li{
    margin-right: 70px;
}

/******************** SECTION 1 **********************/
.section1{
    margin-bottom: 20px;
}
.section1 h1{
    font-size: large;
}
.section1 p{
    font-size: small;
}

/******************** SECTION 2 **********************/
.section2{
    display: inline-flex;
    align-items: center;
}
.rechercher a{
    color: white;
}
.rechercher{
    background-color: #0065FC;
    padding: 15px;
    border-radius: 0px 18px 18px 0px;
}
.rechercher:hover{
    background-color: black;

}
.iconmap{
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 18px 0px 0px 18px;
}
.section2 input{
    border: solid #F2F2F2 1px ;
    padding: 15px;
    font-weight: bold;
    font-family: 'Raleway';
    outline: none;
}



/******************** SECTION 3 **********************/
.section31{
    display: flex;
    align-items: center;
    font-size: x-small;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section31 p{
    background-color: #DEEBFF;
    border-radius: 100%;
    margin-right: 10px;
    padding: 10px;
}
.section31 div{
    margin-right: 20px;
    border: solid #c9c3c3 1px;
    border-radius: 10em;
    padding-right: 10px;
}
.section31 div:hover{
    background-color: #0065FC;
}
.section312, .section313, .section314, .section315{
    display: flex;
    align-items: center;
}
.section31 h3{
    margin-right:30px;
    font-size: medium;
}

.section32{
    display: flex;
    align-items: center;
}
.section321{
    margin-right: 10px;
    border: solid #F2F2F2 1px;
    border-radius: 50%;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
}

/******************** SECTION 4 **********************/
/******************** SECTION 41 **********************/
.section4{
    margin-top: 50px;
    margin-bottom: 50px;
}

.section4111,.section4,.section4112{
    display: flex;
    justify-content: space-around;
}
.section41111,.section41112,.section41113,.section41121,.section41122,.section41123{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    width: 27%;
}
.section41{
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 10px;
    padding: 30px;
}
.section41 a{
    color: black;
}

.section411 .img{
    border-radius: 10px 10px 0px 0px;
    height: 150px;
}
.section411{
    margin-bottom: 30px;
}
.section4111 p{
    font-size: small;
}

/******************** SECTION 42 **********************/
.section42{
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 30px;
}
.section4211{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding-right: 30px;
    margin-top: 20px;
}
.section4211 img{
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.section4211 .p1{
    width: 35%;
}
.section4211 .description p{
    font-size: small;
}
.section4211 .description{
    padding-top: 10px;
    padding-bottom: 10px;
}


/******************** SECTION 5 **********************/
.section5{
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 30px;
}
.section5 div{
    width: 25%;
    margin: 20px;
}
.section51,.section53{
    border: solid #F2F2F2 1px ;
    border-radius: 10px;
}
.section51 img,.section53 img{
    border-radius: 10px 10px 0 0;
}
.section52 div,.section54 div{
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid #F2F2F2 1px;
}
.section52 h2,.section54 h2{
    margin-bottom: 20px;
}
.section52 img,.section54 img{
    border-radius: 10px 10px 0 0;
}


/******************** FOOTER **********************/

footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #F2F2F2;
}